.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 30px;
    
}

img {
    width: 75%;
    height: auto;
    margin: 25px;
}

/* h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-top: 20px;

} */

#inline-text {
    font-size: 30px;
    font-family: "Single Day", cursive;
    letter-spacing: 7px;
    
}


.alert {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 10%;
    width: 50%;

}

#inline-text {
    margin-left: auto;
}

.btn-close {
    margin-left: auto;
}
